@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.font-family-lato {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.my-button {
  background-color: white;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.my-button:hover {
  background-color: #0E7A81;
  color: white;
}

.category-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}